#home {
  background: linear-gradient(to bottom, navy, lightblue);
  height: 100vh;
}

#f:focus {
  background-color: white;
}
#f:focus {
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  color: black;
}

#img-size {
  width: 150px;
  margin-right: 60px;
}
.btn:focus {
  box-shadow: none;
}
#div {
  border-right: 1px solid white;
  display: flex;
  justify-content: center;
  height: 130px;
}

@media screen and (max-width: 860px) {
  .weather-app-container #div {
    border: none;
  }

  #maindiv {
    margin-top: 0px !important;
  }
}
.row {
  padding: 10px;
}

@media screen and(max-width:375px) {
  div {
    font-size: 18px !important;
  }
}
